mixin slide(data)
    .slide(class=data.isActive ? 'slide_active' : null)&attributes(attributes)
        .slide__image
            img.slide__image-src(src=data.image.src, alt=data.image.alt)
        .slide__desc
            - slideIndex = data.index + 1;
            - slideIndex = slideIndex < 10 ? ('0' + slideIndex) : slideIndex;
            .slide__number
                .slide__number-text #{slideIndex}

            b.slide__title.title
                - var lines = data.title.split('\n');
                each line in lines
                    span.slide__title-row
                        span.slide__title-text #{line}

            p.slide__text #{data.text}

            a.line-btn(href="#404") Подробнее

            .slide__stat
                ul.product-stat
                    each infoItem in data.info
                        li.product-stat__item
                            .product-stat__value #{infoItem.value}
                            .product-stat__key #{infoItem.key}

mixin slider(promos)
    .slider
        .slider__nav
            each item, index in promos
                button.slider__nav-item(
                    type="button",
                    data-slide=index,
                    class=item.isActive ? 'slider__nav-item_active' : null,
                    title=`Перейти на слайд номер ${index + 1}`
                )
                    .visuallyhidden Перейти на слайд номер #{index + 1}

        each item, index in promos
            - item.index = index
            +slide(item).slider__slide
